name: release

on:
  release: # Docs: <https://help.github.com/en/articles/events-that-trigger-workflows#release-event-release>
    types: [prereleased, published]

jobs:
  build:
    name: Build for ${{ matrix.os }} (${{ matrix.arch }})
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        os: [linux, darwin]
        arch: [amd64, 386]
    steps:
      - name: Set up Go
        uses: actions/setup-go@v1
        with:
          go-version: 1.13

      - name: Check out code
        uses: actions/checkout@v1
        with:
          fetch-depth: 1

      - name: Generate version value
        run: echo "::set-env name=version::${GITHUB_REF##*/}@`echo ${GITHUB_SHA} | cut -c1-8`"

      - name: Build application
        env:
          GOOS: ${{ matrix.os }}
          GOARCH: ${{ matrix.arch }}
        run: go build -ldflags="-s -w -X main.Version=${version}" -o ./../build/mikrotik-hosts-parser-${{ matrix.os }}-${{ matrix.arch }} .

      - name: Pack binary
        uses: docker://gact/upx:latest # https://github.com/marketplace/actions/upx-action
        with:
          file: "./build/mikrotik-hosts-parser-${{ matrix.os }}-${{ matrix.arch }}"
          upx_args: '-7'

      - name: Upload to release
        uses: actions/upload-release-asset@v1.0.1 # https://github.com/actions/upload-release-asset
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: "./build/mikrotik-hosts-parser-${{ matrix.os }}-${{ matrix.arch }}"
          asset_name: "mikrotik-hosts-parser-${{ matrix.os }}-${{ matrix.arch }}"
          asset_content_type: 'application/octet-stream'
